<apex:page standardController="EnrollmentrxRx__Enrollment_Opportunity__c" extensions="EnrollmentrxRx.QuickAccessPanelController" sidebar="false" standardStylesheets="" >
    <style>
     body .bPageBlock .pbTitle {
        display: none;
     }  
     span.dateInput span.dateFormat{
        display:none;
     }
    
     .pbSubheader {
        color:black !important;
     }
    
     .circle-orange {
         border-color: #d75;
         color: #e85;
     }
     .circle50 {
        border: 2px #948686 solid;
        border-radius: 18px;
        box-sizing: border-box;
        font-size: 13px;
        font-weight: normal;
        height: 25px;
        line-height: 22px;
        margin: 0 auto 5px auto;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
        width: 25px;
        display: block;
     }
     
     .m-count-label {
        color: inherit;
        font-size: 11px;
        text-align: center;
        display: block;
        font-weight: 600;
     }
    
    .m-summary-item.circle-container {
        /* color: #555; */
    }
    
    .m-cell {
        width: 10%;
        border: 0px solid #eee;
        display: table-cell;
        box-sizing: border-box;
        text-align: center;
    }
    
    .bar-container {
        font-size: 12px;
        padding: 5px 0 5px;
        display: block;
    }
    
    .m-table {
        border-collapse: collapse;
        display: table;
        width: 100%;
    }
    
    .m-row {
        display: table-row;
    }
    
    .progress-percentage {
        float: none;
        font-weight: normal;
        height: auto;
        text-align: center;
        position: relative;
        top: auto;
        width: auto;
    }
    
    .d-progress-bar {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background-color: #fff;
        border: 1px solid #3e9ec3;
        border-radius: 3px;
        height: 10px;
        margin: 5px 0 0;
    }
    
    .bar {
        height: 100%;
        background-color: green;
    }
    
    .bar-container * {
        display: block;
    }
    
    .m-table-4-col .m-cell:nth-child(1) {
        width: 100%;
    }
    
    .documentStatus {
        width:100%;
    }
    
    .label-red {
        color:red;
    }
    
    .label-green {
        color:green;
    }
    
    label-blue {
        color:blue;
    }
    .updateButton, .updateButton:hover {
        padding: 5px 10px 5px 10px;
        margin-left: 10px;
        text-decoration: none;
        font-size: 11px;
        /* backGround-Color: Black; */
        color: black !important;
        text-align: center;
        border-radius: 5px;
        font-weight: bold;
        background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top;
        background-repeat: repeat-x;
        background-position: left top;
        border-right: 1px solid #5c5d61;
        border-bottom: 1px solid #5c5d61;
        border-top: none;
        border-left: none;
/*         border: 1px solid #b5b5b5; */
        display: inline;
    }
    
    .black_overlay {
/*   display: none; */
/*   position: absolute; */
/*   top: 0%; */
/*   left: 0%; */
/*   width: 100%; */
/*   height: 100%; */
/*   background-color: black; */
/*   z-index:1001; */
/*   -moz-opacity: 0.8; */
/*   opacity:.80; */
/*   filter: alpha(opacity=80); */
    }
    
    .white_content {
        background-color: white;
        border: 0px solid #0f2c52;
        border-radius: 0px;
        display: none;
        height: 100%;
        left: 0%;
        overflow: auto;
        padding: 10px;
/*      position: fixed; */
        text-align: center;
        top: 0%;
        width: 100%;
        z-index: 1002;
    }
    
    .linkdisplay {
        cursor:pointer; 
        padding: 5px 10px 5px 10px;     
        margin-left: 10px;
        text-decoration: none;
        font-size: 11px;
        /* backGround-Color: Black; */
        color: black !important;
        text-align: center;
        border-radius: 5px;
        font-weight: bold;
        background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top;
        background-repeat: repeat-x;
        background-position: left top;
        border-right: 1px solid #5c5d61;
        border-bottom: 1px solid #5c5d61;
        border-top: none;
        border-left: none;
    }
    
    #loading-image {
	 position: fixed;
	 top: 40%;
	 left: 50%;
	}
	#loading {
	 width: 100%;
	 height: 100%;
	 top: 0px;
	 left: 0px;
	 position: absolute;
	 display: none;
	 opacity: 0.5;
	 filter: alpha(opacity = 50);
	 -moz-opacity: 0.5;
	 background-color: #fff;
	 text-align: center;
	 z-index: 100;
	}

    </style>
    <script type="text/javascript">
    window.onload = setFocus1
    function setFocus1() {
        document.getElementById("hiddenElement").focus();
    }
    
    
    function newDocument(newUrl) {    
        top.location = newUrl;
    }
    
    function goToRecord(id) {
        top.location = '/'+id;
    }
    
    //function for showing loading image
	function showLoadingImage() {
	 document.getElementById('loading').style.display='block';
	}
	 
	 
	//function for hiding loading image
	function hideLoadingImage() {
	 document.getElementById('loading').style.display='none';
	 
	}
    </script>

    <apex:form >
        <apex:pageMessages id="pgMessages" /> 
        <apex:outputPanel id="pBlock" >
        <apex:actionFunction name="setObjectName" rerender="popUpBox, pgMessages" oncomplete="hideLoadingImage();">
            <apex:param name="objName" value="" assignTo="{!selectedObject}"/>
        </apex:actionFunction>
        <apex:actionFunction name="setNewDoc" rerender="pgMessages,popUpBox" oncomplete="showPopUp();">
            <apex:param name="objName" value="" assignTo="{!selectedObject}"/>
        </apex:actionFunction>          
        
        <apex:actionFunction name="createDoc" action="{!saveAndReturn}" rerender="quickAccessPanel, pgMessages" oncomplete="hideLoadingImage(); hidePopUp();">
        </apex:actionFunction>
        <apex:actionFunction name="hidePopUp" rerender="pBlock"> 
            <apex:param value="false" name="showPopUpBox" assignTo="{!showPopUpBox}" />
        </apex:actionFunction>
        
        <apex:actionFunction name="showPopUp" rerender="pBlock" oncomplete="hideLoadingImage();"> 
            <apex:param value="true" name="showPopUpBox1" assignTo="{!showPopUpBox}" /> 
        </apex:actionFunction>
        <div id="loading">
		 	<img id="loading-image" src="{!$Resource.Loadingimage}" alt="Loading..." />
		</div>
        <input type='hidden' id='hiddenElement' />
        <!-- Call showPopUp() method on any event i.e onchange, onclick --> 
        <div style='text-align:center;'>            
            <apex:pageblock id="popUpBox" rendered="{!(showPopUpBox == 'true')}">
                <apex:selectList value="{!selectedObject}" multiselect="false" size="1" onchange="showLoadingImage(); setObjectName(this.value); ">
                    <apex:selectOptions value="{!objectNames}"/> 
                </apex:selectList>           
                   
                <span onclick='showLoadingImage(); createDoc();' class='linkdisplay' style="display:{!(If(selectedObject != null && selectedObject != '', 'inline', 'none'))}">Create</span>
                <span onclick='showLoadingImage(); hidePopUp();' class='linkdisplay' >Cancel</span>
                <br/>
                <br/>
                <apex:pageBlockSection title="New Admissions Document" collapsible="false" columns="2" rendered="{!(selectedObject == admission_document_Obj)}">
                    <apex:repeat value="{!$ObjectType.EnrollmentrxRx__Admissions_Document__c.FieldSets.EnrollmentrxRx__NewDocument}" var="f" >
                        <apex:inputField value="{!doc[f.fieldPath]}" required="{!OR(f.dbrequired, f.required)}"/>  
                    </apex:repeat>
                </apex:pageBlockSection>
                
                <apex:pageBlockSection title="New Test Score" collapsible="false" columns="2" rendered="{!(selectedObject == test_score_Obj)}">
                    <apex:repeat value="{!$ObjectType.EnrollmentrxRx__Test_Score__c.FieldSets.EnrollmentrxRx__NewDocument}" var="f" >
                        <apex:inputField value="{!ts[f.fieldPath]}" required="{!OR(f.dbrequired, f.required)}"/>  
                    </apex:repeat>
                </apex:pageBlockSection>
                
                <apex:pageBlockSection title="New Education History" collapsible="false" columns="2" rendered="{!(selectedObject == educationHistory_Obj)}">
                    <apex:repeat value="{!$ObjectType.EnrollmentrxRx__Education_History__c.FieldSets.EnrollmentrxRx__NewDocument}" var="f" >
                        <apex:inputField value="{!eh[f.fieldPath]}" required="{!OR(f.dbrequired, f.required)}"/>  
                    </apex:repeat>
                </apex:pageBlockSection>
                
                <apex:pageBlockSection title="New Recommendation" collapsible="false" columns="2" rendered="{!(selectedObject == recommendation_Obj)}">
                    <apex:repeat value="{!$ObjectType.EnrollmentrxRx__Recommendation__c.FieldSets.EnrollmentrxRx__NewDocument}" var="f" >
                    	<apex:inputField value="{!rec[f.fieldPath]}" required="{!OR(f.dbrequired, f.required)}"/>   
                    </apex:repeat>
                </apex:pageBlockSection>
            </apex:pageblock>
        </div>   
        
        <input type="hidden" name="hiddenText" id='hiddenText' value="English" />
        <apex:pageblock id="quickAccessPanel" rendered="{!(showPopUpBox == 'false')}">
            
            <div class="m-table m-table-4-col mb-20">
                <div class="m-summary-set m-row">
                    <div class="m-summary-item m-cell bar-container">
                        <apex:variable var="percentageComplete" value="{!IF(openDocuments + closedDocuments != 0, (closedDocuments/(openDocuments + closedDocuments)), 0)}" />
                        <span class="progress-percentage"><strong>
                        <apex:outputText value="{0, number, ###%}">
                            <apex:param value="{!percentageComplete}"/>
                        </apex:outputText>
                        Completed</strong> <span class="d-progress-bar"><span class="bar" style="width: {!percentageComplete*100}%"></span></span>
                    </span></div>
                    <div class="m-summary-item m-cell circle-container">
                        <span class="m-count-number circle50 circle-red">{!openDocuments}</span>
                        <span class="m-count-label label-red">Pending</span>
                    </div>
                    <div class="m-summary-item m-cell circle-container">
                        <span class="m-count-number circle50 circle-green">{!closedDocuments}</span>
                        <span class="m-count-label label-green">Received</span>
                    </div>
                    <div class="m-summary-item m-cell circle-container">
                        <span class="m-count-number circle50 circle-blue">{!(openDocuments + closedDocuments)}</span>
                        <span class="m-count-label label-blue">Total</span>
                    </div>
                </div>
            </div>
            
            <hr style='width:100%;' />             
            
            <br/>
            <div style='text-align:center;'>
                <apex:commandLink styleClass="updateButton" action="{!quickSave}" onclick="showLoadingImage();" value="Update" oncomplete="window.top.location='/{!appId}'; return false" />
                <div style='cursor:pointer;' class="updateButton"  onclick="showLoadingImage(); setNewDoc();">Add New Document</div>
            </div>
            <br/>
            <!--            columnsWidth="100px, 100px, 50px, 50px, 50px, 150px"-->
            <!--style="width: 95%;height: 15px;"-->
            <apex:outputPanel style="height:350px; display:block; overflow: scroll;" >
            <apex:pageBlockSection title="Admission Requirements" collapsible="false" rendered="{!docList.size > 0}"/>
              <apex:pageBlockTable columnsWidth="140px, 140px, 100px, 50px, 50px, 50px, 100px, 100px" value="{!docList}" var="doc" rendered="{!docList.size > 0}">
                <apex:column headerValue="Name">
                    <a href='/{!doc.Id}' target='_parent' >{!doc.Portal_Name__c}</a>
                </apex:column> 
                <apex:column headerValue="Date Received">
                <apex:inputField value="{!doc.EnrollmentrxRx__Date_Received__c}"/> 
                </apex:column> 
                <apex:column headerValue="Due Date">
                <apex:inputField value="{!doc.EnrollmentrxRx__Due_Date__c}"/>
                </apex:column> 
                <apex:column headerValue="Display on Portal">
                <apex:inputField value="{!doc.EnrollmentrxRx__Display_to_Applicant__c}" />
                </apex:column>
                <apex:column headerValue="Portal Comments">
                <apex:inputField value="{!doc.EnrollmentrxRx__Portal_Comments__c}" />
                </apex:column>
                <apex:column headerValue="Internal Comments">
                <apex:inputField value="{!doc.EnrollmentrxRx__Internal_Comments__c}" />
                </apex:column>
                <apex:column headerValue="Status"> <apex:inputField styleClass="documentStatus" value="{!doc.EnrollmentrxRx__Document_Status__c}" /></apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockSection title="Education History" collapsible="false" rendered="{!ehList.size > 0}"/>
            <apex:pageBlockTable columnsWidth="140px, 140px, 100px, 50px, 50px, 50px, 100px, 100px" value="{!ehList}" var="eh" rendered="{!ehList.size > 0}">
                <apex:column headerValue="Name">
                    <a href='/{!eh.Id}' target='_parent' >{!eh.Portal_Name__c}</a>
                </apex:column>             
                <apex:column headerValue="Date Received">
                <apex:inputField value="{!eh.EnrollmentrxRx__Date_Received__c}"/>
                </apex:column> 
                <apex:column headerValue="Due Date">
                <apex:inputField value="{!eh.EnrollmentrxRx__Due_Date__c}"/>
                </apex:column> 
                <apex:column headerValue="Display on Portal">
                <apex:inputField value="{!eh.EnrollmentrxRx__Display_to_Applicant__c}" />
                </apex:column>
                <apex:column headerValue="Portal Comments">
                <apex:inputField value="{!eh.EnrollmentrxRx__Portal_Comments__c}" />
                </apex:column>
                <apex:column headerValue="Internal Comments">
                <apex:inputField value="{!eh.EnrollmentrxRx__Internal_Comments__c}" />
                </apex:column>
                <apex:column headerValue="Status"> <apex:inputField styleClass="documentStatus" value="{!eh.EnrollmentrxRx__Document_Status__c}" />
                </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockSection title="Recommendation" collapsible="false" rendered="{!recList.size > 0}"/>
            <apex:pageBlockTable id="REC" columnsWidth="140px, 140px, 100px, 50px, 50px, 50px, 100px, 100px" value="{!recList}" var="rec" rendered="{!recList.size > 0}">
                <apex:column headerValue="Name">
                    <a href='/{!rec.Id}' target='_parent' >{!rec.Portal_Name__c}</a>
                </apex:column>                  
                <apex:column headerValue="Date Received">
                <apex:inputField value="{!rec.EnrollmentrxRx__Date_Received__c}"/>
                </apex:column> 
                <apex:column headerValue="Due Date">
                <apex:inputField value="{!rec.EnrollmentrxRx__Due_Date__c}"/>
                </apex:column>
                <apex:column headerValue="Display on Portal">
                <apex:inputField value="{!rec.EnrollmentrxRx__Display_to_Applicant__c}" />
                </apex:column>
                <apex:column headerValue="Portal Comments">
                <apex:inputField value="{!rec.EnrollmentrxRx__Portal_Comments__c}" />
                </apex:column>
                <apex:column headerValue="Internal Comments">
                <apex:inputField value="{!rec.EnrollmentrxRx__Internal_Comments__c}" />
                </apex:column>
                <apex:column headerValue="Status"><apex:inputField styleClass="documentStatus" value="{!rec.EnrollmentrxRx__Document_Status__c}" /></apex:column> 
            </apex:pageBlockTable> 
            
            <apex:pageBlockSection title="Test Scores" collapsible="false" rendered="{!tsList.size > 0}"/>
            <apex:pageBlockTable id="TS" columnsWidth="140px, 140px, 100px, 50px, 50px, 50px, 100px, 100px" value="{!tsList}" var="ts" rendered="{!tsList.size > 0}">
                <apex:column headerValue="Name">
                    <a href='/{!ts.Id}' target='_parent' >{!ts.Portal_Name__c}</a>
                </apex:column>               
                <apex:column headerValue="Date Received">
                <apex:inputField value="{!ts.EnrollmentrxRx__Date_Received__c}"/>
                </apex:column> 
                <apex:column headerValue="Due Date">
                <apex:inputField value="{!ts.EnrollmentrxRx__Due_Date__c}"/>
                </apex:column>
                <apex:column headerValue="Display on Portal">
                <apex:inputField value="{!ts.EnrollmentrxRx__Display_to_Applicant__c}" />
                </apex:column>
                <apex:column headerValue="Portal Comments">
                <apex:inputField value="{!ts.EnrollmentrxRx__Portal_Comments__c}" />
                </apex:column>
                <apex:column headerValue="Internal Comments">
                <apex:inputField value="{!ts.EnrollmentrxRx__Internal_Comments__c}" />
                </apex:column>
                <apex:column headerValue="Status"><apex:inputField styleClass="documentStatus" value="{!ts.EnrollmentrxRx__Document_Status__c}" /></apex:column> 
            </apex:pageBlockTable>
            </apex:outputPanel>
        </apex:pageblock>        
        </apex:outputPanel>
        </apex:form> 
</apex:page>