<apex:page action="{!initPageException}" standardstylesheets="false" showheader="false" sidebar="false" applyhtmltag="false" applybodytag="false" doctype="html-5.0" controller="ngForceController" extensions="HomepageController">
    <html ng-app="AngularApp" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
        	<apex:outputPanel layout="none" rendered="{!FaviconIcon != null && FaviconIcon != ''}">
		   		<link rel="shortcut icon" type="image/png" href="{!FaviconIcon}"/>
		   	</apex:outputPanel>
        	<apex:outputPanel layout="none" rendered="{!gtmScript != null && gtmScript != ''}">
        	<script>
				(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer','{!gtmScript}');
			</script>
			</apex:outputPanel>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <c:HomepageResourceComponent />
            <style>
            	/* Added By Shubham Re PD-4003 loading icon on home*/
            	.show {
				    display: block!important
				}
				.hide {
				    display: none!important
				}
				.loadingImageCss{
            		width:60px;
            	}
	            div.loading-image-div {
					position: fixed;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 10000;
					background: #FFF;
					opacity: 0.5;
					margin: 0px;
				}
			
				div.loading-image-div div.slds-spinner--medium {
					margin: 5% auto;
					width: 5%;
				}
				
            </style>
            <script type="text/javascript">
                var envId = '{!envId}';
                var contactId = '{!contactId}';
                var applicationId = '{!applicationId}';
                var currentContact = JSON.parse('{!JSENCODE(currentContact)}');
                var activeApplication = JSON.parse('{!JSENCODE(activeApplication)}');
                var hwlListJSON = '{!hwlListJSON}';
                //PD-3205 Widget error message from custom setting
                var widgetErrorMessage = '{!widgetErrorMessage}';
                var homepageWidgetDescribesResult = '{!JSENCODE(homepageWidgetDescribesResultJSON)}';
                var checklistResultJSON = '{!JSENCODE(checklistResultJSON)}';
                var errorMessage = '{!errorMessage}';
                var namespacePrefix = '{!JSENCODE(namespacePrefix)}';
                var namespacePrefixClass = '{!JSENCODE(namespacePrefixClass)}';
                var hasApplicationObject = {!hasApplicationObject};
                var hasConfigurationObject = {!hasConfigurationObject};
                var sitePathPreFix = '{!JSENCODE(sitePathPreFix)}';
                var receivedChecklistStatusJSON = '{!JSENCODE(receivedChecklistStatusJSON)}';
                var isActiveApplicationExist = {!isActiveApplicationExist};
                var sitePrefix = '{!$Site.BaseUrl}';
                var isApplicationFieldExist = {!isApplicationFieldExist};
                //changes done for PD-1739
                var browserTabTitle = '{!JSENCODE(browserTabTitle)}';
                if(browserTabTitle != undefined && browserTabTitle != null && browserTabTitle != ''){
                	document.title = browserTabTitle;
                }else{
                	document.title = 'Welcome';
                }
                showLoadingImage();
                
                //Priyamvada - Code Optimization
                function hideLoadingImage() {
    				jQuery('#loadingImageDiv').removeClass('show').addClass('hide');
    			}
    			
    			//Priyamvada - Code Optimization
    			function showLoadingImage() {
    				jQuery('#loadingImageDiv').removeClass('hide').addClass('show');
    			}
    
                // added by Nikhil PD-1732 home page not loaded until the Active Application is not created.   
                window.onload = function(){ 
                	hideLoadingImage();
    			  	if(!isActiveApplicationExist){
    			    	location.reload(); 	
    			    } 
    			}
    			
               	//method to retrieve attribute value selected by user for eventlisting
			    function getEventListingAttrValue(eventListingHtml, startingMark, endMark){
			    	var attributeValue = '';
			    	attributeValue = eventListingHtml.substring(eventListingHtml.indexOf(startingMark) + startingMark.length, eventListingHtml.indexOf(endMark)).trim();
			    	attributeValue = attributeValue.substring(1, attributeValue.length-1);
			    	return attributeValue;
			    }
            </script>
            <apex:outputText rendered="{!debugging}">
	            <script src="{!URLFOR($Resource.PortalAssets, '/javascript/services/DataService.js')}"></script>
	            <script src="{!URLFOR($Resource.PortalAssets, '/javascript/configs/HomepageConfig.js')}"></script>
	            <script src="{!URLFOR($Resource.PortalAssets, '/javascript/controllers/HomepageCtrl.js')}"></script>
	            <script src="{!URLFOR($Resource.PortalAssets, '/javascript/Homepage_ng.js')}"></script>
       		</apex:outputText>
       		<apex:outputText rendered="{!!debugging}">
	            <script src="{!URLFOR($Resource.PortalAssets, '/javascript/DataService.js')}"></script>
	            <script src="{!URLFOR($Resource.PortalAssets, '/javascript/configs/HomepageConfig.js')}"></script>
	            <script src="{!URLFOR($Resource.PortalAssets, '/javascript/controllers/HomepageCtrl.js')}"></script>
	            <script src="{!URLFOR($Resource.PortalAssets, '/javascript/Homepage_ng.js')}"></script>
	        </apex:outputText>
        </head>
        <!-- <body style="display:none"> -->
         <body>
         	<apex:outputPanel layout="none" rendered="{!gtmScript != null && gtmScript != ''}">
			<noscript>
		        	<iframe src="https://www.googletagmanager.com/ns.html?id={!gtmScript}" height="0" width="0" style="display:none;visibility:hidden"></iframe> 
		    </noscript>
		    </apex:outputPanel>
          	<!--Loading Image START-->
		    <div class="loading-image-div" id="loadingImageDiv">
		        <div class="slds-spinner--medium">
		            <img src="{!$Resource.slds_spinner_brand}" alt="Loading..." class = "loadingImageCss"/>
		        </div>
		    </div> 
		    <!--Loading Image END-->
		    
            <apex:composition template="TM_Template">
                <apex:define name="body">
                    <apex:pagemessages />
                    <ui-view></ui-view>
                </apex:define>
            </apex:composition>
        </body>
    </html>

</apex:page>