<apex:page showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" action="{!initPageException}" controller="Portal_ErrorMsgConfigureController">
    <!-- <head> 
        <apex:stylesheet value="{!URLFOR($Resource.SLDS0121, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.LDS_BootstrapSF1, 'dist/css/bootstrap.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.LDS_BootstrapSF1, 'dist/css/docs.min.css')}" />
        <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" />
        <apex:includeScript value="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" />
        <apex:includeScript value="{!URLFOR($Resource.LDS_BootstrapSF1, 'dist/js/docs.js')}" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="{!URLFOR($Resource.MainTemplateAsset, 'css/reset.css')}"/> 
        <link rel="stylesheet" href="{!URLFOR($Resource.MainTemplateAsset, 'css/style.css')}"/> 
    </head>
    <div style="margin: 0 auto; width:900px;"> -->
<apex:composition template="ERx_Portal_Config_Main_Template"> 
<apex:define name="body">
  <style>
  	.alert {
	    padding: 10px;
	    background-color: #4CAF50;
	    color: white;
	    border-radius : 4px;
	}
	
	.closebtn {
	    margin-left: 15px;
	    color: white;
	    font-weight: bold;
	    float: right;
	    font-size: 22px;
	    line-height: 20px;
	    cursor: pointer;
	    transition: 0.3s;
	}
	
	.closebtn:hover {
	    color: black;
	}
  </style>	 
  <script>

  $(document).ready(function() {
        if({!setting.Id == null}){
          showLoadingImage();
          initMSG();
        }
  
    });
  </script>
    <div class="slds">
    <apex:pageMessages id="msg"/>             
      <apex:form rendered="{!setting!=Null}" id="Panel1">
            <apex:actionFunction name="initMSG" rerender="bigPanel" immediate="true" oncomplete="hideLoadingImage();" action="{!initMessage}" />
                              
      <div class="slds-card" id="Panel2">
            <header class="slds-card__header slds-grid">
            <!-- 4014 Notification Message -->
	        <apex:outputPanel rendered="{!showNotification && userRemaining > 0}" > 
                <div class="alert">
				  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
				  {!assignedUserCount} Users have been assigned the permission set <b>ErxFB_Community</b>. 
				  {!userRemaining} Users remain to be assigned. Click the button again to assign to more users.
				</div>
	        </apex:outputPanel>
	        
	        <apex:outputPanel rendered="{!showNotification && userRemaining == 0}" > 
                <div class="alert">
				  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
				  All {!assignedUserCount} Users have been assigned the permission set <b>ErxFB_Community</b>. 
				  {!userRemaining} Users remain to be assigned.
				</div>
	        </apex:outputPanel>
	        <!-- 4014 Notification Message ends-->
	        
            <div class="slds-media slds-media--center slds-has-flexi-truncate">
              <div class="slds-media__figure">
              </div>
				<!-- <div class="slds-media__body">
                <h3 class="slds-text-heading--small slds-truncate">Self Registration Message</h3>
              </div> -->
            </div>
            
            <div class="slds-no-flex">
              <div class="slds-button-group">
              <apex:commandButton value="Save" styleClass="slds-button slds-button--neutral slds-button--small" rerender="msg" action="{!save}"/>
              <a href="Portal_RegistrationSetting" class="slds-button slds-button--neutral slds-button--small">
                <!-- <input type="button" value="Back"  onclick=""> -->
                Back	
                <!-- </input> -->
              </a>
              </div>
            </div>
            </header>

            <section class="slds-card__body">
            <div class="slds-form--stacked col-Padding">
            
            <!-- 29-1-2018 Commented By Shubham Re PD-3197 to remove account name field
            <div class="slds-form-element">
            <label class="slds-form-element__label">Account Name:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Account_Name__c}"  html-placeholder="Account Name" styleClass="slds-input"/>
            </div>
            </div> -->


            <div class="slds-form-element">
              <label class="slds-form-element__label" >Update Existing Contact</label>
              <div class="slds-form-element__control">
                <label class="slds-checkbox" >
                  <apex:inputCheckBox value="{!setting.Update_Existing_Contact__c}"/>
                  <span class="slds-checkbox--faux"></span>
                </label>
              </div>
            </div>
           
           <!-- Added by Saurabh due to proceed the New update application field functionality for site registration page PD-3294 on 09-02-2018  -->
            <div class="slds-form-element">
              <label class="slds-form-element__label" >Update Existing Application</label>
              <div class="slds-form-element__control">
                <label class="slds-checkbox" >
                  <apex:inputCheckBox value="{!setting.Update_Existing_Application__c}"/>
                  <span class="slds-checkbox--faux"></span>
                </label>
              </div>
            </div>
           
           	<apex:actionFunction name="isLeadConvert" rerender="leadConvertBlock" onComplete="hideLoadingImage();" immediate="true">
			   	<apex:param name="leadConvert" assignTo="{!setting.Convert_Leads__c}" value="" />
			   	<apex:param name="leadConvertMessage" assignTo="{!setting.Lead_Non_Convert_Message__c}" value="" />
			   	<apex:param name="leadConvertStatus" assignTo="{!setting.Lead_Converted_Status__c}" value="" />
			</apex:actionFunction> 
			
            <div class="slds-form-element">
              <label class="slds-form-element__label" >Convert Leads</label>
              <div class="slds-form-element__control">
                <label class="slds-checkbox" >
                  <apex:inputCheckBox value="{!setting.Convert_Leads__c}" onChange="showLoadingImage();isLeadConvert(this.checked,'','');return false;"/>
                  <span class="slds-checkbox--faux"></span>
                </label>
              </div>
            </div>
            <apex:outputPanel id="leadConvertBlock">
            	<apex:outputPanel rendered="{!Not(setting.Convert_Leads__c)}">
	             	<div class="slds-form-element">
		              <label class="slds-form-element__label" >Lead Non-Convert Message</label>
		              <div class="slds-form-element__control">
		              	<div class="slds-form-element__control">
			            	 <apex:inputField html-placeholder="Lead Non-Convert Message" value="{!setting.Lead_Non_Convert_Message__c}"  styleClass="slds-input"/>
			            </div>
		              </div>
		            </div> 
	            </apex:outputPanel>
	            <apex:outputPanel rendered="{!setting.Convert_Leads__c}">
		             <div class="slds-form-element">
		              <label class="slds-form-element__label" >Lead Converted Status <span style="color:red;">*</span></label>
		              <div class="slds-form-element__control">
		              	<div class="slds-form-element__control">
		              		<apex:selectList required="true" value="{!setting.Lead_Converted_Status__c}" size="1"  styleClass="slds-select">
				                <apex:selectOptions value="{!leadStatusList}"/>
				            </apex:selectList>
			            </div>
		              </div>
		            </div>
	            </apex:outputPanel>
			</apex:outputPanel>

            <div class="slds-form-element">
            <label class="slds-form-element__label">Student Portal User Profile </label>
            <div class="slds-form-element__control">
            <apex:selectList value="{!setting.Student_Portal_User_Profile__c}" size="1"  styleClass="slds-select">
                <apex:selectOptions value="{!profileList}"/>
            </apex:selectList>
            </div>
            </div>
            <!-- PD-3729 -->
            <div class="slds-form-element">
            	<label class="slds-form-element__label">Community User Permission Set </label>
	            <div class="slds-form-element__control">
	            	<apex:outputText id="ERxFB_CommunityText" styleClass="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2" value="ERxFB_Community" />
	            	<apex:commandButton value="Apply Permission Set to Existing Users" styleClass="slds-button slds-button--neutral slds-button--small" rerender="Panel1,Panel2" disabled="{!!showButton}" onclick="showLoadingImage();" oncomplete="hideLoadingImage();" action="{!updateExistingUsers}"/>
	            </div>
	        </div>
			<!-- PD-3729 ends -->
			
            <div class="slds-form-element">
              <label class="slds-form-element__label" >Activate Existing Contact Via Email</label>
              <div class="slds-form-element__control">
                <label class="slds-checkbox" >
                  <apex:inputCheckBox value="{!setting.Activate_Existing_Contact_Via_Email__c}"/>
                  <span class="slds-checkbox--faux"></span>
                </label>
              </div>
            </div>

            <div class="slds-form-element">
            <label class="slds-form-element__label">Activate Existing Contact Message:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Activate_Existing_Contact_Message__c}"  html-placeholder="Activate Existing Contact Message" styleClass="slds-input"/>
            </div>
            </div>
            
            <div class="slds-form-element">
            <label class="slds-form-element__label">Incorrect Username Password Message:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Incorrect_Username_Password_Message__c}"  html-placeholder="Incorrect Username Password Message" styleClass="slds-input"/>
            </div>
            </div>
            
            <div class="slds-form-element">
            <label class="slds-form-element__label">Login Field Missing Message</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Login_Field_Missing_Message__c}"  html-placeholder="Login Field Missing Message" styleClass="slds-input"/>
            </div>
            </div>
            
            <div class="slds-form-element">
            <label class="slds-form-element__label">Login Non Portal User Message:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Login_Non_Portal_User_Message__c}"  html-placeholder="Login Non Portal User Message" styleClass="slds-input"/>
            </div>
            </div>
            
            <div class="slds-form-element">
            <label class="slds-form-element__label">Password Field Missing Message:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Password_Field_Missing_Message__c}"  html-placeholder="Password Field Missing Message" styleClass="slds-input"/>
            </div>
            </div>
            
            <div class="slds-form-element">
            <label class="slds-form-element__label">Password Non-Portal User Exists Message:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Password_Non_Portal_User_Exists_Message__c}"  html-placeholder="Password Non-Portal User Exists Message" styleClass="slds-input"/>
            </div>
            </div>
            
            <!-- 29-1-2018 Commented By Shubham Re PD-3197 to remove duplicate Password Non-Portal User Exists Message field 
            <div class="slds-form-element">
            <label class="slds-form-element__label">Password Non-Portal User Exists Message:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Password_Non_Portal_User_Exists_Message__c}"  html-placeholder="Password Non-Portal User Exists Message" styleClass="slds-input"/>
            </div>
            </div> -->
            
            <div class="slds-form-element">
            <label class="slds-form-element__label">Password No Portal User Message:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Password_No_Portal_User_Message__c}"  html-placeholder="Password No Portal User Message" styleClass="slds-input"/>
            </div>
            </div>
            
            <div class="slds-form-element">
            <label class="slds-form-element__label">Password Reset Confirm Message:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Password_Reset_Confirm_Message__c}"  html-placeholder="Password Reset Confirm Message" styleClass="slds-input"/>
            </div>
            </div>
            
            <div class="slds-form-element">
            <label class="slds-form-element__label">Reg Email Format Error Message:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Reg_Email_Format_Error_Message__c}"  html-placeholder="Reg Email Format Error Message" styleClass="slds-input"/>
            </div>
            </div>
            
            <div class="slds-form-element">
            <label class="slds-form-element__label">Reg Field Missing Message:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Reg_Field_Missing_Message__c}"  html-placeholder="Reg Field Missing Message" styleClass="slds-input"/>
            </div>
            </div>
            
            <div class="slds-form-element">
            <label class="slds-form-element__label">Reg Non-Portal User Exists Message:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Reg_Non_Portal_User_Exists_Message__c}"  html-placeholder="Reg Non-Portal User Exists Message" styleClass="slds-input"/>
            </div>
            </div>
            
            <div class="slds-form-element">
            <label class="slds-form-element__label">Reg Password No Match Message:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Reg_Password_No_Match_Message__c}"  html-placeholder="Reg Password No Match Message" styleClass="slds-input"/>
            </div>
            </div>
            
            <div class="slds-form-element">
            <label class="slds-form-element__label">Reg Portal User Exists Message:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Reg_Portal_User_Exists_Message__c}"  html-placeholder="Reg Portal User Exists Message" styleClass="slds-input"/>
            </div> 
            </div>
            
            <!-- PD-2499 new field added -->
			<div class="slds-form-element">
            <label class="slds-form-element__label">Reg Contact Portal User Exists Message:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Reg_Contact_Portal_User_Exists_Message__c}"  html-placeholder="Reg Contact Portal User Exists Message" styleClass="slds-input"/>
            </div>
            </div>
			
            <div class="slds-form-element">
            <label class="slds-form-element__label">Reg Username Too Long Message:</label>
            <div class="slds-form-element__control">
            <apex:inputField value="{!setting.Reg_Username_Too_Long_Message__c}"  html-placeholder="Reg Username Too Long Message" styleClass="slds-input"/>
            </div>
            </div>
            

</div>
            </section>
            </div>
       
      </apex:form>
    </div>
      </apex:define>
</apex:composition>
</apex:page>